.address {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin: 0 12rem;
}

.address__img {
  width: 80%;
  padding-top: 2em;
}

.address__main {
  padding-top: 7em;
  text-align: flex;
  align-self: left;
  justify-self: left;
  width: 100%;
  font-size: 2rem;
}

.address__name {
  opacity: 1;
  text-align: flex;
  align-self: center;
  justify-self: center;
  width: 70%;
  font-size: 2rem;
}

a {
  color: inherit;
}
