@import "colors";

.header__txt {
  text-align: center;
  font-size: 4em;
  color: $yellow;
  -webkit-text-stroke: $black;
  -webkit-text-stroke-width: 5px;
}

.backimage {
  /* min-height: 400px;  */
  background: url("/src/img/background/kot.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
